<%- include("partials/header"); -%>

<div class="body__style">
  <div class="container row">
    <div class="">
      <img class="" src="\images\bird (1).png" alt="two birds img">
    </div>
    <div class="info__text">
      <h1>a little about us</h1>
      <p>Here at tinbirds, we know how it feels to search through a flock of gulls and cross our wings hoping to find the right match.
        We all have busy lives and very little time to get out there and shake our tail feathers. So let US take care of the hard work.
        Take the guessing out of "bird watching" and let us match you with the right bird in seconds.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <h1>pricing that fits your budget</h1>
</div>

<div class="pricing">
  <div class="container">
    <ul class="row">
      <li>
        <h2>Sparrow</h2>
        <h3>FREE</h3>
        <p>Access to swiping capabilities</p>
        <p>Limit 50 swipes/day</p>
      </li>
      <li>
        <h2>Cockatoo</h2>
        <h3>$5/month</h3>
        <p>Access to reverse views</p>
        <p>Limit 100 swipes/day</p>
      </li>
      <li>
        <h2>Eagle</h2>
        <h3>$10/month</h3>
        <p>Full access to the Bird's Nest</p>
        <p>Unlimited Swiping</p>
      </li>
    </ul>
  </div>
</div>

<%- include("partials/footer"); -%>
