<%- include("partials/header"); -%>

  <div class="hero_banner">
    <div class="container row">
      <div class="hero_title">
        <h1>Find new and interesting birds in your area today </h1>
        <button class="btn" type="button" name="button">Join Now</button>
      </div>
      <div class="">
        <img class=hero_image src="\images\phone_img.png" alt="iphone-mockup" </div>
      </div>
    </div>
  </div>

  <div class="info">
    <div class="container row">
      <div class="">
        <img class="info__img" src="\images\pigeon.png" alt="love birds img">
      </div>
      <div class="info__text">
        <h2>Meet new and intersting birds nearby</h2>
        <p>Here at tinbirds, we know how it feels to search through a flock of gulls and cross our wings hoping to find the right match.
          We all have busy lives and very little time to get out there and shake our tail feathers. So let US take care of the hard work.
          Take the guessing out of "bird watching" and let us match you with the right bird in seconds.
        </p>
      </div>
    </div>
  </div>

    <div class="feature">
      <div class="container row ">
        <div class="feature_text">
          <h2>Meet new and intersting birds nearby</h2>
          <p>Here at tinbirds, we know how it feels to search through a flock of gulls and cross our wings hoping to find the right match.
            We all have busy lives and very little time to get out there and shake our tail feathers. So let US take care of the hard work.
            Take the guessing out of "bird watching" and let us match you with the right bird in seconds.
          </p>
          <img class="robin_img" src="\images\robin.png" alt="robin img">
        </div>
      <div class="feature_list">
        <div class="col">
          <h2>So easy, even a bird brain can use</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
        </div>

        <div class="col">
          <h2>Elite Clientele</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
        </div>


        <div class="col">
          <h2>Guaranteed to Work</h2>
          <p>Or your money back. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        </div>
      </div>
      </div>
    </div>

<div class="reviews ">
  <div class="container">
    <h2>See what our users have to say...</h2>
    <ul class="row">
      <li>
        <h2>Polly and Pepe, Des Moines, Iowa</h2>
        <img src="\images\bird_couple_img.jpg" alt="Testemonial - Polly and Pepe">
        <p>
          <em>We've literally lived most of our lives just a few trees away from each other. But tinbird finally brought us together! Turns out we're first cousins too...Thank's tinbird!</em>
        </p>
      </li>
      <li>
        <h2>Robirdo, Toledo</h2>
        <img src="\images\smiling owl_ccexpress.jpeg" alt="Testimonial - Robirdo">
        <p><em>I no longer have to fly south to find a date! Thanks tinbird!</em></p>
      </li>
      <li>
        <h2>Beverly, Santa Monica</h2>
        <img src="\images\lady-img.jpg" alt="Testimonial - Beverly">
        <p><em>I found the perfect little cockatoo for me on tinbird. Now we're married and expecting chicks. Thanks tinbird!</em></p>
      </li>
    </ul>
  </div>

</div>

<div class="container">
  <h2>Become a High Flyer. Join the Bird's Nest today</h2>
  <h3>Bird's Nest</h3>
  <p>Our exclusive members only area where birdies have access to meet ups, fly-by's, item discounts and other members only benefits.</p>
  <button type="button" name="button">Join Bird's Nest</button>
</div>

<%- include("partials/footer"); -%>
