<%- include("partials/header"); -%>



<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body class="login_body">

  <div class="sign_in">
    <div class="container row">
      <div class="login">
        <h1>Sign in</h1>

        <em>
          <p>or use your account</p>
        </em>

        <form class="" action="/login" method="post">
          <input class="input" type="email" name="email" value="" placeholder="email">
          <input class="input" type="text" name="password" value="" placeholder="password">
          <em>
            <small>forgot your password?</small>
          </em>
          <button class="btn" type="submit" name="login_button">Submit</button>
        </form>

      </div>
      <form class="" action="/signup" method="get">
        <div class="sign_up">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details here and start your journey to the bird's nest</p>
          <button type="submit" class="sign_up_btn">Sign up</button>
        </div
      </form>


</body>


</html>
