<%- include("partials/header"); -%>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 class="signup_title">Sign Up</h1>
    <form class="" action="/signup" method="post">
      <input class="signup" type="text" name="signup_username"  placeholder="username">
      <input class="signup" type="email" name="signup_email"  placeholder="email">
      <input class="signup" type="text" name="signup_password"  placeholder="password">
      <button class="signup sign_up_btn" type="submit" name="button">Sign Up</button>
    </form>
  </body>
</html>
